@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");
/*font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;*/

:root {
  --primary-dark-cyan: hsl(158, 36%, 37%);
  --primary-cream: hsl(30, 38%, 92%);

  --neutral-very-dark-blue: hsl(212, 21%, 14%);
  --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-dark-green: hsl(156, 42%, 18%);
}

body,
h1,
h2,
p,
a {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--primary-cream);
  font-family: "Montserrat", sans-serif;
}

.product {
  background-color: var(--neutral-white);
  border-radius: 0.625rem;
  display: flex;
  margin: 7.5rem auto;
  max-width: 37.5rem;
}

/*image*/

.product-image {
  background-image: url("./images/image-product-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1000px;
  border-radius: 0.625rem 0 0 0.625rem;
}

/*description*/

.product-description {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 2rem;
}

.product-description span {
  color: var(--neutral-dark-grayish-blue);
  font-size: 0.8125rem;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
}

.product-descripttion-title {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: var(--neutral-very-dark-blue);
  max-width: 10ch;
  line-height: 1;
}

.product-description-paragraph {
  color: var(--neutral-dark-grayish-blue);
  font-size: 0.875rem;
  line-height: 1.8;
}

.product-description-price {
  display: flex;
  gap: 1rem;
}
.product-description-price p {
  color: var(--primary-dark-cyan);
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
}

.product-description-price span {
  align-self: center;
  font-size: 0.8125rem;
  text-decoration: line-through;
  letter-spacing: 0;
}

.product-description-button {
  background-color: var(--primary-dark-cyan);
  border-radius: 0.625rem;
  color: var(--neutral-white);
  font-size: 0.8125rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
}
.product-description-button:hover {
  background-color: var(--neutral-dark-green);
}

/*footer*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*responsive*/

@media (max-width: 375px) {
  .product {
    flex-direction: column;
  }
}
